@import '@fontsource/source-sans-pro';
@import '@fontsource/open-sans-condensed';
@import '@fontsource/open-sans';
@import '@fontsource/oswald';

@font-face {
	font-family: 'Another Danger';
	src: url('/AnotherDanger.otf') format('opentype');
}

@font-face {
	font-family: 'Dirty Roma';
	src: url('/DirtyRoma.otf') format('opentype');
}

@font-face {
	font-family: 'Friday 13th';
	src: url('/Friday13.ttf') format('truetype');
}

@font-face {
	font-family: 'Creepy Crawlers';
	src: url('/CreepyCrawlersExpand.ttf') format('truetype');
}

body,
html {
	background-color: #050505;
	font-family: 'Source Sans Pro';
	color: white;
	text-align: center;
	padding: 0;
	margin: 0;
}
