@import '@fontsource/source-sans-pro';
@import '@fontsource/open-sans-condensed';
@import '@fontsource/open-sans';
@import '@fontsource/oswald';

@font-face {
	font-family: 'Another Danger';
	src: url('/AnotherDanger.otf') format('opentype');
}

@font-face {
	font-family: 'Dirty Roma';
	src: url('/DirtyRoma.otf') format('opentype');
}

@font-face {
	font-family: 'TS Block Bold';
	src: url('/TSBlockBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Mystic Gate';
	src: url('/MysticGate.otf') format('opentype');
}

body,
html {
	background-image: url('/fbf.jpg');
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;

	font-family: 'Source Sans Pro';
	color: white;
	text-align: center;
	padding: 0;
	margin: 0;
}
